*{
    font-family: 'Bebas Neue', sans-serif;
}

.listas{
    display: inline;
    text-align: right;
    font-size: 18px;
    text-decoration: none;
    border: 1px double black;
    
}

.main-container, h1{
    text-align: center;
    
}